name: OWASP Dependency-Check

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main]

jobs:
  dependency-check:
    name: Dependency-Check Scan
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run OWASP Dependency-Check
        uses: dependency-check/Dependency-Check_Action@main
        with:
          project: 'security-audit-blog-api'
          path: '.'
          format: 'HTML'
          args: >
            --scan .
            --out reports
            --failOnCVSS 11

      - name: Upload Report
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report
          path: reports